# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/.project
flyshare-ui/target/m2e-wtp/web-resources/META-INF/maven/com.dbjinjin/flyshare-ui/pom.xml
flyshare-ui/target/m2e-wtp/web-resources/META-INF/maven/com.dbjinjin/flyshare-ui/pom.properties
flyshare-ui/target/m2e-wtp/web-resources/META-INF/MANIFEST.MF
flyshare-ui/target/classes/application.yml
flyshare-ui/target/classes/1001.png
flyshare-ui/.settings/org.eclipse.wst.validation.prefs
flyshare-ui/.settings/org.eclipse.wst.jsdt.ui.superType.name
flyshare-ui/.settings/org.eclipse.wst.jsdt.ui.superType.container
flyshare-ui/.settings/org.eclipse.wst.common.project.facet.core.xml
flyshare-ui/.settings/org.eclipse.wst.common.project.facet.core.prefs.xml
flyshare-ui/.settings/org.eclipse.wst.common.component
flyshare-ui/.settings/org.eclipse.m2e.core.prefs
flyshare-ui/.settings/org.eclipse.jdt.core.prefs
flyshare-ui/.settings/org.eclipse.core.resources.prefs
flyshare-ui/.settings/.jsdtscope
flyshare-ui/.project
flyshare-ui/.classpath
flyshare-eureka/.settings/org.springframework.ide.eclipse.prefs
flyshare-eureka/.settings/org.eclipse.wst.common.project.facet.core.xml
flyshare-eureka/.project
flyshare-eureka/.gitignore
flyshare-eureka/.classpath
flyshare-config/.settings/org.springframework.ide.eclipse.prefs
flyshare-config/.settings/org.eclipse.wst.common.project.facet.core.xml
flyshare-config/.settings/org.eclipse.m2e.core.prefs
flyshare-config/.settings/org.eclipse.jdt.core.prefs
flyshare-config/.settings/org.eclipse.core.resources.prefs
flyshare-config/.project
flyshare-config/.gitignore
flyshare-config/.classpath
flyshare-busi/.settings/org.springframework.ide.eclipse.prefs
flyshare-busi/.settings/org.eclipse.wst.common.project.facet.core.xml
flyshare-busi/.project
flyshare-busi/.gitignore
flyshare-busi/.classpath
flyshare-base/.settings/org.springframework.ide.eclipse.prefs
flyshare-base/.settings/org.eclipse.wst.common.project.facet.core.xml
flyshare-base/.project
flyshare-base/.gitignore
flyshare-base/.classpath
.settings/org.eclipse.m2e.core.prefs
.settings/org.eclipse.core.resources.prefs
flyshare-ui/.settings/org.springframework.ide.eclipse.prefs
flyshare-ui/.gitignore
flyshare-ui/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
flyshare-ui/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
flyshare-ui/target/maven-archiver/pom.properties
flyshare-ui/target/flyshare-ui/index.jsp
flyshare-ui/target/flyshare-ui/WEB-INF/web.xml
flyshare-ui/target/flyshare-ui/WEB-INF/classes/application.yml
flyshare-ui/target/flyshare-ui/WEB-INF/classes/1001.png
flyshare-ui/target/flyshare-ui.war.original
flyshare-ui/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
flyshare-eureka/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
flyshare-eureka/target/maven-archiver/pom.properties
flyshare-eureka/target/flyshare-eureka-1.0.jar.original
flyshare-eureka/target/classes/note.txt
flyshare-eureka/target/classes/application.yml
flyshare-eureka/target/classes/application-peer2.yml
flyshare-eureka/target/classes/application-peer1.yml
flyshare-eureka/target/classes/META-INF/maven/com.dbjinjin/flyshare-eureka/pom.xml
flyshare-eureka/target/classes/META-INF/maven/com.dbjinjin/flyshare-eureka/pom.properties
flyshare-eureka/target/classes/META-INF/MANIFEST.MF
flyshare-eureka/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
flyshare-config/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
flyshare-config/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
flyshare-config/target/maven-archiver/pom.properties
flyshare-config/target/flyshare-config-1.0.jar.original
flyshare-config/target/classes/note.txt
flyshare-config/target/classes/application.yml
flyshare-config/target/classes/META-INF/maven/com.dbjinjin/flyshare-config/pom.xml
flyshare-config/target/classes/META-INF/maven/com.dbjinjin/flyshare-config/pom.properties
flyshare-config/target/classes/META-INF/MANIFEST.MF
flyshare-busi/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/inputFiles.lst
flyshare-busi/target/maven-status/maven-compiler-plugin/testCompile/default-testCompile/createdFiles.lst
flyshare-busi/target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
flyshare-busi/target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
flyshare-busi/target/maven-archiver/pom.properties
flyshare-busi/target/classes/note.txt
flyshare-busi/target/classes/META-INF/maven/com.dbjinjin/flyshare-busi/pom.xml
flyshare-busi/target/classes/META-INF/maven/com.dbjinjin/flyshare-busi/pom.properties
flyshare-busi/target/classes/META-INF/MANIFEST.MF
flyshare-busi/target/flyshare-busi-1.0.jar.original
flyshare-busi/target/classes/bootstrap.yml
flyshare-busi/target/classes/application.yml
flyshare-busi/target/classes/application-peer1.yml
flyshare-base/target/classes/META-INF/maven/com.dbjinjin/flyshare-base/pom.xml
flyshare-base/target/classes/META-INF/maven/com.dbjinjin/flyshare-base/pom.properties
flyshare-base/target/classes/META-INF/MANIFEST.MF
flyshare-gateway/target/classes/application.yml
flyshare-gateway/target/classes/META-INF/maven/com.dbjinjin/flyshare-gateway/pom.properties
