<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10">
    <meta charset="utf-8">
    <title>查询工具</title>
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/common.css">
    <link rel="stylesheet" href="style/paging.css">
</head>

<body class="bg-fff">
    <div class="m-hd other">
        <div class="m-hd-wrap">
            <div class="m-hd-logo">
                <a href="javascript:;" title="全球质量溯源服务平台">全球质量溯源服务平台</a>
            </div>
            <div class="m-hd-menu">
                <ul>
                    <li class="indexLink"><a href="首页.html" >首页</a></li>
                    <li class="origindetailLink"><a href="溯源申办-工厂级溯源.html">溯源申办</a></li>
                    <li class="searchLink"><a href="03-01溯源查询.html">溯源查询</a></li>
                    <li class="helpLink">
                        <a href="javascript:;"  class="active">帮助中心</a>
                        <div class="dropmenu xiala">
                            <a href="04-01投诉建议.html" class="dropmenu-item"><span class="advice">投诉建议</span></a>
                            <a href="04-02查询工具.html" class="dropmenu-item"><span class="countQuery">查询工具</span></a>
                        </div>
                    </li>
                    <li class="newsLink"><a href="05-01新闻资讯.html">新闻资讯</a></li>
                </ul>
            </div>
            <div class="m-hd-operation">
                <a href="登录-img.html" target="_blank">登录</a>
                <a href="注册-img.html" target="_blank">注册</a>
                <a href="###" class="user-center">
            		<i class="icons-user-center"></i>
            		<span>用户中心</span>
            	</a>
            </div>
        </div>
    </div>
    <div class="home">
    	<div class="w1200  home-content">
    		<div class="m-tt"><b>查询工具</b><span>Search</span></div>
    	    <div class="query-tool">
    	    	<div class="tab-a">
    	    		<a href="###" class="active">计算单位代码查询</a>
    	    		<a href="###">国内口岸代码查询</a>
    	    		<a href="###">国际口岸代码查询</a>
    	    	</div>
	    	    <div class="m-tab-wrap">
	    	    	<div class="tab-con" style="display:block;">
	    	    		<p class="m-state">您可以输入计量单位代码进行查询：</p>
	    	    		<div class="m-search">
	    	    			<span>代码<input type="text"/><i class="icons-clear"></i></span>
	    	    			<span style="margin-left:17px;">中文名<input type="text"/><i class="icons-clear"></i></span>
	    	    			<button class="submit">查询</button>
			    		</div>
			    		<table>
			    			<colgroup>
			    				<col width="210">
			    				<col width="300">
			    				<col width="">
			    			</colgroup>
			    			<thead>
			    				<tr>
			    					<th>序号</th>
			    					<th>代码</th>
			    					<th>中文名</th>
			    				</tr>
			    			</thead>
			    			<tbody>
			    				<tr>
			    					<td>1</td>
			    					<td>001</td>
			    					<td>台</td>
			    				</tr>
			    				<tr>
			    					<td>1</td>
			    					<td>001</td>
			    					<td>台</td>
			    				</tr>
			    				<tr>
			    					<td>1</td>
			    					<td>001</td>
			    					<td>台</td>
			    				</tr>
			    				<tr>
			    					<td>1</td>
			    					<td>001</td>
			    					<td>台</td>
			    				</tr>
			    				<tr>
			    					<td>1</td>
			    					<td>001</td>
			    					<td>台</td>
			    				</tr>
			    			</tbody>
			    		</table>
	    	    	    <div class="pages">
					        <div class="page-inner fr">
						        <ul class="page clearfix">
						            <li class="prev"><a href="###">&lt;</a></li>
						            <li><a href="###">1</a></li>
						            <li class="cur"><a href="###">2</a></li>
						            <li><a href="###">3</a></li>
						            <li><a href="###">4</a></li>
						            <li><a href="###">5</a></li>
						            <li><a href="###">6</a></li>
						            <li class="other"><a href="###">…</a></li>
						            <li class="next"><a href="###">&gt;</a></li>
						            <div class="total">共<em>67</em>页</div>
						        </ul>
						        <div class="goto">
						                          去第<input class="inputs" type="text">页 <input value="确定" class="sure" type="button">
						        </div>
					        </div>
					    </div>
	    	    	</div>
	    	    	<div class="tab-con">
	    	    		<p class="m-state">您可以输入计量单位代码进行查询：</p>
	    	    		<div class="m-search">
	    	    			<span>代码<input type="text"/><i class="icons-clear"></i></span>
	    	    			<span style="margin-left:17px;">中文名<input type="text"/><i class="icons-clear"></i></span>
	    	    			<button class="submit">查询</button>
			    		</div>
			    		<table>
			    			<colgroup>
			    				<col width="210">
			    				<col width="300">
			    				<col width="">
			    			</colgroup>
			    			<thead>
			    				<tr>
			    					<th>序号</th>
			    					<th>代码</th>
			    					<th>中文名</th>
			    				</tr>
			    			</thead>
			    			<tbody>
			    				<tr>
			    					<td>1</td>
			    					<td>001</td>
			    					<td>台</td>
			    				</tr>
			    				<tr>
			    					<td>1</td>
			    					<td>001</td>
			    					<td>台</td>
			    				</tr>
			    				<tr>
			    					<td>1</td>
			    					<td>001</td>
			    					<td>台</td>
			    				</tr>
			    				<tr>
			    					<td>1</td>
			    					<td>001</td>
			    					<td>台</td>
			    				</tr>
			    				<tr>
			    					<td>1</td>
			    					<td>001</td>
			    					<td>台</td>
			    				</tr>
			    			</tbody>
			    		</table>
	    	    	    <div class="pages">
					        <div class="page-inner fr">
						        <ul class="page clearfix">
						            <li class="prev"><a href="###">&lt;</a></li>
						            <li><a href="###">1</a></li>
						            <li class="cur"><a href="###">2</a></li>
						            <li><a href="###">3</a></li>
						            <li><a href="###">4</a></li>
						            <li><a href="###">5</a></li>
						            <li><a href="###">6</a></li>
						            <li class="other"><a href="###">…</a></li>
						            <li class="next"><a href="###">&gt;</a></li>
						            <div class="total">共<em>67</em>页</div>
						        </ul>
						        <div class="goto">
						                          去第<input class="inputs" type="text">页 <input value="确定" class="sure" type="button">
						        </div>
					        </div>
					    </div>
	    	    	</div>
	    	    	<div class="tab-con">
	    	    		<p class="m-state">您可以输入计量单位代码进行查询：</p>
	    	    		<div class="m-search">
	    	    			<span>代码<input type="text"/><i class="icons-clear"></i></span>
	    	    			<span style="margin-left:17px;">中文名<input type="text"/><i class="icons-clear"></i></span>
	    	    			<button class="submit">查询</button>
			    		</div>
			    		<table>
			    			<colgroup>
			    				<col width="210">
			    				<col width="300">
			    				<col width="">
			    			</colgroup>
			    			<thead>
			    				<tr>
			    					<th>序号</th>
			    					<th>代码</th>
			    					<th>中文名</th>
			    				</tr>
			    			</thead>
			    			<tbody>
			    				<tr>
			    					<td>1</td>
			    					<td>001</td>
			    					<td>台</td>
			    				</tr>
			    				<tr>
			    					<td>1</td>
			    					<td>001</td>
			    					<td>台</td>
			    				</tr>
			    				<tr>
			    					<td>1</td>
			    					<td>001</td>
			    					<td>台</td>
			    				</tr>
			    				<tr>
			    					<td>1</td>
			    					<td>001</td>
			    					<td>台</td>
			    				</tr>
			    				<tr>
			    					<td>1</td>
			    					<td>001</td>
			    					<td>台</td>
			    				</tr>
			    			</tbody>
			    		</table>
	    	    	    <div class="pages">
					        <div class="page-inner fr">
						        <ul class="page clearfix">
						            <li class="prev"><a href="###">&lt;</a></li>
						            <li><a href="###">1</a></li>
						            <li class="cur"><a href="###">2</a></li>
						            <li><a href="###">3</a></li>
						            <li><a href="###">4</a></li>
						            <li><a href="###">5</a></li>
						            <li><a href="###">6</a></li>
						            <li class="other"><a href="###">…</a></li>
						            <li class="next"><a href="###">&gt;</a></li>
						            <div class="total">共<em>67</em>页</div>
						        </ul>
						        <div class="goto">
						                          去第<input class="inputs" type="text">页 <input value="确定" class="sure" type="button">
						        </div>
					        </div>
					    </div>
	    	    	</div>
    	    	</div>
    	    </div>	
    	</div>
        <div class="footer" style="padding-bottom: 10px;">
           <div class="top">
                <a href="10-01关于我们.html" style="margin-left:0;">关于我们</a> |
                <a href="10-02联系我们.html">联系我们</a>
            </div>
            <div class="wrap">
                <div class="items">
                    <div class="item">
                        <div class="infos" style="text-align: center;">
                            <p><span class="compa">主办单位：广东出入境检验检疫局</span><span class="compa">指导单位：国家质量监督检验检疫总局</span></p>
                            <div class="logo">
                                <p>粤ICP备15010729号-3</p><span class="logo-mini"><img src="res/images/logo-mini.png" alt=""></span></div>
							</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/jquery/jquery-1.8.3.js" ></script>
    <script>
    	$(function(){
    		var $input=$(".m-search input");
    		$input.focus(function(){
    			$(this).next().show();
    		}).blur(function(){
    			$(this).next().hide();
    		})
    		$(".icons-clear").click(function(){
    			$(this).prev().val("");
    		})
    		$(".tab-a a").click(function(){
    			var ind=$(this).index();
    			var $thisCon=$(".m-tab-wrap").children().eq(ind);
    			$(this).addClass("active").siblings().removeClass("active");
    			$thisCon.show().siblings().hide();
    		})
    	})
    </script>
</body>
</html>