<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10">
    <meta charset="utf-8">
    <title>溯源查询</title>
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="style/common.css">
</head>

<body class="bg-fff">
    <div class="m-hd other">
        <div class="m-hd-wrap">
            <div class="m-hd-logo">
                <a href="javascript:;" title="全球质量溯源服务平台">全球质量溯源服务平台</a>
            </div>
            <div class="m-hd-menu">
                <ul>
                    <li class="indexLink"><a href="index.html">首页</a></li>
                    <li class="origindetailLink"><a href="/origin-apply.html">溯源申办</a></li>
                    <li class="searchLink"><a href="/origin-query.html" class="active">溯源查询</a></li>
                    <li class="helpLink">
                        <a href="javascript:;">帮助中心</a>
                        <div class="dropmenu xiala">
                            <a href="04-01投诉建议.html" class="dropmenu-item"><span class="advice">投诉建议</span></a>
                            <a href="04-02查询工具.html" class="dropmenu-item"><span class="countQuery">查询工具</span></a>
                        </div>
                    </li>
                    <li class="newsLink"><a href="05-01新闻资讯.html">新闻资讯</a></li>
                </ul>
            </div>
            <div class="m-hd-operation">
                <a href="登录-img.html" target="_blank">登录</a>
                <a href="注册-img.html" target="_blank">注册</a>
                <a href="###" class="user-center">
            		<i class="icons-user-center"></i>
            		<span>用户中心</span>
            	</a>
            </div>
        </div>
    </div>
    <div class="home">
    	<div class="w1200  home-content">
    		<div class="m-tt"><b>运单号/订单查询</b><span>Order Search</span></div>
    		<div class="m-tip">
    			<p>办理过溯源业务的商品可以通过溯源码、电子交易订单号、物流单号等条件查询商品的溯源信息。</p>
    		</div>
    		
    		<div class="m-search">
    			<span><input type="text" placeholder="输入运单号或者订单号" /><i class="icons-clear"></i></span><button class="submit">查询</button>
    		</div>
    		<div class="m-result">
    			<div class="m-tt noborder"><b>查询结果</b><span>Result</span></div>
    			<p class="result-state">您的商品已于<span>2017-03-23</span>放行。 订单号：<span>123456</span> 原产国：爱尔兰</p>
    		    <div class="result-list">
    		    	<div class="result-item">
    		    		<span class="circle"></span>
    		    		<div class="m-info-tt">
    		    			<span>监管信息</span>
    		    		</div>
    		    		<div class="no-result">暂无结果！</div>
    		    	</div>
    		    	<div class="result-item">
    		    		<span class="circle"></span>
    		    		<div class="m-info-tt">
    		    			<span>商品信息</span>
    		    		</div>
    		    		<table>
    		    			<colgroup>
    		    				<col width="100"/>
    		    				<col width="460"/>
    		    			</colgroup>
    		    			<tr>
    		    				<th>申报日期</th>
    		    				<td>2017-03-23</td>
    		    			</tr>
    		    			<tr>
    		    				<th>受理机构</th>
    		    				<td>南沙出入境检验检疫局</td>
    		    			</tr>
    		    			<tr>
    		    				<th>入境口岸</th>
    		    				<td>南沙新港口岸</td>
    		    			</tr>
    		    			<tr>
    		    				<th>旅行日期</th>
    		    				<td>2017-03-23</td>
    		    			</tr>
    		    			<tr>
    		    				<th>附件</th>
    		    				<td><div class="up-attachment">
    		    					<ul><li>商品证书.jpg<em class="download-icons fr"><i class="icons-download-g"></i></em></li>
    		    						<li>溯源商品证书相关资料信息查看.pdf<em class="download-icons fr"><i class="icons-download-g"></i></em></li>
    		    					</ul>
    		    				</div></td>
    		    			</tr>
    		    			<tr>
    		    				<th>图片</th>
    		    				<td><div class="imgdetail-box"><a href="###"><img src="res/images/info-1.jpg "width="80" height="80" alt="" /><em class="img-icondown"><i class="icons-download-w"></i></em></a><a href="###"><img src="res/images/info-2.jpg"width="80" height="80"  alt="" /><em class="img-icondown"><i class="icons-download-w"></i></em></a></div></td>
    		    			</tr>
    		    		</table>
    		    	</div>
    		    	<div class="result-item">
    		    		<span class="circle"></span>
    		    		<div class="m-info-tt">
    		    			<span>物流信息</span>
    		    		</div>
    		    		<table>
    		    			<colgroup>
    		    				<col width="100"/>
    		    				<col width="460"/>
    		    			</colgroup>
    		    			<caption>海外</caption>
    		    			<tr>
    		    				<th>申报日期</th>
    		    				<td>2017-03-23</td>
    		    			</tr>
    		    			<tr>
    		    				<th>受理机构</th>
    		    				<td>南沙出入境检验检疫局</td>
    		    			</tr>
    		    			<tr>
    		    				<th>入境口岸</th>
    		    				<td>南沙新港口岸</td>
    		    			</tr>
    		    			<tr>
    		    				<th>旅行日期</th>
    		    				<td>2017-03-23</td>
    		    			</tr>
    		    		</table>
    		    		<table>
    		    			<colgroup>
    		    				<col width="100"/>
    		    				<col width="460"/>
    		    			</colgroup>
    		    			<caption>海内</caption>
    		    			<tr>
    		    				<th>申报日期</th>
    		    				<td>2017-03-23</td>
    		    			</tr>
    		    			<tr>
    		    				<th>受理机构</th>
    		    				<td>南沙出入境检验检疫局</td>
    		    			</tr>
    		    			<tr>
    		    				<th>入境口岸</th>
    		    				<td>南沙新港口岸</td>
    		    			</tr>
    		    			<tr>
    		    				<th>旅行日期</th>
    		    				<td>2017-03-23</td>
    		    			</tr>
    		    		</table>
    		    	</div>
    		    	<div class="result-item">
    		    		<span class="circle"></span>
    		    		<div class="m-info-tt">
    		    			<span>溯源证书</span>
    		    		</div>
    		    		<div class="no-result">暂无结果！</div>
    		    	</div>
    		    </div>
    		</div>    
    	</div>
        <div class="footer" style="padding-bottom: 10px;">
           <div class="top">
                <a href="10-01关于我们.html" style="margin-left:0;">关于我们</a> |
                <a href="10-02联系我们.html">联系我们</a>
            </div>
            <div class="wrap">
                <div class="items">
                    <div class="item">
                        <div class="infos" style="text-align: center;">
                            <p><span class="compa">主办单位：广东出入境检验检疫局</span><span class="compa">指导单位：国家质量监督检验检疫总局</span></p>
                            <div class="logo">
                                <p>粤ICP备15010729号-3</p><span class="logo-mini"><img src="res/images/logo-mini.png" alt=""></span></div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="js/jquery/jquery-1.8.3.js" ></script>
     <script>
    	$(function(){
    		var $input=$(".m-search input");
    		$input.focus(function(){
    			$(this).next().show();
    		}).blur(function(){
    			$(this).next().hide();
    		})
    		$(".icons-clear").click(function(){
    			$(this).prev().val("");
    		})
    	})
    </script>
</body>
</html>