<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>文件上传</title>
</head>
<body>
	<form action="/file/upload" method="post" enctype="multipart/form-data">
		<table>
			<tr>
				<td>附件：</td>
				<td>
					<input type="file" name="upload-file" title="附件上传">
				</td>
				<td colspan="2">
					<input type="submit"/>
				</td>
			</tr>
			<tr>
				<td colspan="4">
					<div th:if="${message}">
    					<div th:text="${message}" style="color: red"></div>
					</div>
				</td>
			</tr>
		</table>
	</form>
</body>
</html>